.footer{
    width: 100%;
    height: 230px;
    margin-right: 1000px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 7px;
    margin-top: 200px;
    backdrop-filter: blur(4px) saturate(180%) ;
    -webkit-backdrop-filter: blur(4px) saturate(180%) ;
    background-color: rgba(91, 47, 100, 0.55) ;
    border-radius: 12px ;
    border: 1px solid rgba(255, 255, 255, 0.125) ;

    position: relative;
    font-weight: bolder ;
}
.title{
    position: absolute;
    top:40px;
}
.botlink{
    width: 500px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: larger;
    position: relative;
}
.link{
    display: inline;
  
    
}
.myname{
    width: 900px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;

}
.link a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:796px) {
    .footer{
        display: none;
    }
    
}