@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    /* background-color: #1F2833; */
    background: url('../asset/back.jpg');
    background-attachment: fixed;
    background-size: cover;
    
    

    }

    .top{
        width: 100vw;
        position: relative;
        height: 100vh;
    }

.navb{
    margin-top: 100px;
    height: 50px;
    text-decoration: none;
    color: white;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 20px;
    padding-right: 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    transform: rotate(-90deg) translate(-100%,0);
    transform-origin: left top;
    position:fixed;
    z-index: 1;
    
    
    
}
.group{
    
    margin-top: 5px;
    display: flex;
    flex-direction: row-reverse;
    font-variant: small-caps;
    margin-right: 20px;


}
.group1{
    display: none;
}
.log{
    float: left;
    text-align: center;
    padding-left: 60px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    position: relative;
    
}
.log::before {
    content: "";
    position: absolute;
    left: 60px;
    top:20px;
    bottom: 0px;
    height: 2px;
    width: 0;
    background-color: #af3dff;
    transition: 0.5s ease;
  }
  
  .log:hover {
    color: #af3dff;
    transition-delay: 0.5s;
  }
  
  .log:hover::before {
    width: 50%;
    left: 60px;
  }
  
  .log::after {
    content: "";
    display: none;
    position: absolute;
    left: 60px;
    bottom: 0;
    top:10px;
    height: 0;
    width: 50%;
    background-color: #af3dff;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .log:hover::after {
    height: 100%;
    left: 50px;
    transition-delay: 0.4s;
    color: aliceblue;
  }
  



.log1{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    color: white;
    margin-left: 28px;
    margin-top: 20px;
    position: fixed;
    

}
.log2{
    transform: rotate(90deg) translate(-100%,0);
    text-decoration: none;
    margin-top: 49px;
    margin-right: 25px;

}
.log2:hover {
   transform: translate(1px)
  }

.log3{
    transform: rotate(90deg) translate(-100%,0);
    text-decoration: none;
    margin-top: 64px;
    margin-right: 10px;

}
.log4{
    transform: rotate(90deg) translate(-100%,0);
    text-decoration: none;
    margin-top: 48px;
    margin-right: 20px;
}
.log5{
    transform: rotate(90deg) translate(-100%,0);
    text-decoration: none;
    margin-top: 48px;
    margin-right: 20px;
}
.mobile{
    display: none;
}
.txt{
    font-size: 25px;
    padding-left: 40px;
    display: none;
    text-decoration: none;


}
.mobile {
    float: right;
    display: none;
    margin-top: -80px;
    color: white;
    padding: 30px;
    font-size: xx-large;
    
}
.first{
    width: auto;
    height: 750px;
}
.second{
    width: auto;
    height: 750px;
    padding:5rem;
    
}
.third{
    width: auto;
    height: 750px;
    padding: 2rem;
    
}
.fourth{
    width: auto;
    height: 750px;
    padding: 5rem;
}
.botimg{
    display: flex;
    flex-direction: row-reverse;
}
.logobottom{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 240px;
    height: auto;
}
.logobottom a{
   
    transform: rotate(90deg) translate(-100%,0);
    margin-top: 50px;
    
}

.outer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    
    border-radius: 7px;
}
.outer:hover{
    background-color: #af3dff;
  transform: translateX(0.5em);
}
.l1{
    transform: rotate(90deg) translate(-100%,0);
    margin-top: 57px !important;
}
.l2{
    transform: rotate(90deg) translate(-100%,0);
    margin-top: 87px !important;
    
}

  



@media screen and (max-width:769px){
    .navb{
        transform: none;
       
    }
    .group{
        transform: none;
        text-decoration: none;
        padding-left: 0px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 90px;
        right: 0px;
        width: 300px;
        height: 100vh;
        background-color: transparent;
        box-shadow: 0 40px 60px rgb(0, 0, 0.1);  
        padding: 40px 0 0 10px; 
    }
    
    .txt{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 55px;
        color: #1F2833 ;
        
         
    }
    .gp{
        
        display: flex;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;
        position: relative;
        top: 10px;
        right: 15px;
        width: 300px;
        height: 70vh;
        margin-right: 70px;
        border-radius: 7px;
        background-color: white;
        box-shadow: 0 40px 60px rgb(0, 0, 0.1);  
        padding: 40px 0 0 10px; 
        color: #1F2833 ;
        font-weight: bold;
        z-index: 2;
       
    }
    .log{
        margin-right: 55px;
        color: #1F2833 ;
    }
    
    .navb a{
        margin-bottom: 25px;
    }
    .log1{
        position: fixed;
        z-index: 1;
    }
    .log2{
       display: none;
    }
    .log3{
        display: none;
    }
    .mobile{
        display: block;
        margin-top: 0px;
        margin-right: 40px;
       
    }
    .mobile i{
        cursor: pointer;
        position: fixed;
        
        
    }
    .first{
        width: auto;
        height: auto;
    }
    .second{
        width: auto;
        height: auto;
        padding: 0px;
    }
    .third{
        width: auto;
        height: auto;
    }
    .fourth{
        width: auto;
        height: auto;
    }
    .hide1{
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-size: cover;
        background-color: red;
        position: absolute;
        z-index: 1;

    }

    
}

