body{
    /* background-color: #1F2833; */
    background: url('../asset/back.jpg');
    background-attachment: fixed;
    background-size: cover;
    

    }

.navb{
    height: 50px;
    text-decoration: none;
    color: white;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 20px;
    padding-right: 0px;
    display: flex;
    flex-direction: row-reverse;
    transform: rotate(-90deg) translate(-100%,0);
    transform-origin: left top;
    margin-top: 90px;
    position: fixed;
    
    
    
}
.group{
    
    margin-top: 5px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;

}
.log{
    float: left;
    text-align: center;
    padding-left: 40px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}
.log:hover{
    text-decoration: line-through;
}

.log1{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    color: white;
    margin-left: 28px;
    margin-top: 20px;
    position: fixed;

}
.log2{
    transform: rotate(90deg) translate(-100%,0);
    text-decoration: none;
    margin-top: 55px;
    margin-right: 35px;

}
.log3{
    transform: rotate(90deg) translate(-100%,0);
    text-decoration: none;
    margin-top: 85px;

}
.mobile{
    display: none;
}
.txt{
    font-size: 25px;
    padding-left: 40px;
    display: none;
    text-decoration: none;


}
.mobile {
    float: right;
    display: none;
    margin-top: -80px;
    color: white;
    padding: 30px;
    font-size: xx-large;
    
}
.first{
    width: auto;
    height: 750px;
}
.second{
    width: auto;
    height: 750px;
    padding:5rem;
    
}
.third{
    width: auto;
    height: 750px;
    padding: 2rem;
    
}
.fourth{
    width: auto;
    height: 750px;
    padding: 5rem;
}
@media screen and (max-width:769px){
    .navb{
        transform: none;
       
    }
    .group{
        transform: none;
        text-decoration: none;
        padding-left: 0px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 90px;
        right: 0px;
        width: 300px;
        height: 100vh;
        background-color: transparent;
        box-shadow: 0 40px 60px rgb(0, 0, 0.1);  
        padding: 40px 0 0 10px; 
    }
    
    .txt{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-right: 55px;
        color: #1F2833 ;
        
         
    }
    .gp{
        transform: none;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;
        top: 90px;
        right: 0px;
        width: 300px;
        height: 70vh;
        margin-right: 70px;
        margin-top: 50px;
        background-color: white;
        box-shadow: 0 40px 60px rgb(0, 0, 0.1);  
        padding: 40px 0 0 10px; 
        color: #1F2833 ;
        font-weight: bold;
       
    }
    .log{
        margin-right: 55px;
        color: #1F2833 ;
    }
    
    .navb a{
        margin-bottom: 25px;
    }
    .log1{
        position: fixed;
    }
    .log2{
       display: none;
    }
    .log3{
        display: none;
    }
    .mobile{
        display: block;
        margin-top: 0px;
        margin-right: 40px;
       
    }
    .mobile i{
        cursor: pointer;
        position: fixed;
        
        
    }
    .first{
        width: auto;
        height: auto;
    }
    .second{
        width: auto;
        height: auto;
    }
    .third{
        width: auto;
        height: auto;
    }
    .fourth{
        width: auto;
        height: auto;
    }

    
}

