.r1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.rw1{
    color: white;
}
.r2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
