

.mcard{
    display: flex ;
    align-items: center ; 
    justify-content: center ;
    backdrop-filter: blur(4px) saturate(180%) ;
    -webkit-backdrop-filter: blur(4px) saturate(180%) ;
    background-color: rgba(91, 47, 100, 0.55) ;
    border-radius: 12px ;
    border: 1px solid rgba(255, 255, 255, 0.125) ;
}
.mmm{
    display: flex ;
    align-items: center ; 
    justify-content: center ;
    margin: 7px; 
    height: auto;
    padding: 3rem;
    position: relative;
    z-index: -1;
}
.mm1{
    display: flex ;
    align-items: center ; 
    justify-content: center ;
    margin: 7px; 
    padding: 3rem;
    position: relative;
    z-index: -1;

}
.mm2{
    display: flex ;
    align-items: center ; 
    justify-content: center ;
    margin: 7px; 
    padding: 3rem;
    position: relative;
    z-index: -1;

}
.head{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-variant: small-caps;
    color: white;
    letter-spacing: 5px;
    
}


@media screen and (max-width:769px) {
    .card{
        margin: 15px;
    }
    .mmm{
        margin: 0px;
        padding: 0px;
        position: relative;
        left: 47px;
        width: 250px;
    }
    .mm1{
        margin: 0px;
        padding: 0px;
        position: relative;
        left: 47px;
        width: 250px;
    }
    .mm2{
        margin: 0px;
        padding: 0px;
        position: relative;
        left: 47px;
        width: 250px;
    }
    .maindiv{
        position: relative;
    }
 
}